In [1]:
import pandas as pd

In [3]:
directory = '~/projects/'
deseq2_output = pd.read_csv(directory+"differential_expression.csv",index_col=0)
print(deseq2_output.shape)
deseq2_output.head()

(20367, 6)

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
ENSG00000227232.4,330.362699,0.152413,0.218743,0.696768,0.485948,0.677814
ENSG00000237613.2,2.978620,2.324600,2.188239,1.062315,0.288093,NaN
ENSG00000238009.2,126.667693,0.313462,0.326479,0.960129,0.336990,NaN
ENSG00000237683.5,1341.555393,0.702401,0.153341,4.580648,0.000005,0.000217
ENSG00000239906.1,21.708253,1.445001,0.751126,1.923779,0.054382,NaN

In [4]:
gene_dir = '/home/ucsd-train97/scratch/annotations/hg19/'
gene_names = pd.read_csv(gene_dir+"gencode.v19.annotation.genenames.txt", names=['gene_name'], index_col=0)
print(gene_names.shape)
gene_names.head()

(57820, 1)

                    gene_name
ENSG00000223972.4     DDX11L1
ENSG00000227232.4      WASH7P
ENSG00000243485.2  MIR1302-11
ENSG00000237613.2     FAM138A
ENSG00000268020.2      OR4G4P

In [5]:
deseq2_output_with_genes = deseq2_output.join(gene_names, how='left')
print(deseq2_output_with_genes.shape)
deseq2_output_with_genes.head()

(20367, 7)

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,gene_name
ENSG00000227232.4,330.362699,0.152413,0.218743,0.696768,0.485948,0.677814,WASH7P
ENSG00000237613.2,2.978620,2.324600,2.188239,1.062315,0.288093,NaN,FAM138A
ENSG00000238009.2,126.667693,0.313462,0.326479,0.960129,0.336990,NaN,RP11-34P13.7
ENSG00000237683.5,1341.555393,0.702401,0.153341,4.580648,0.000005,0.000217,AL627309.1
ENSG00000239906.1,21.708253,1.445001,0.751126,1.923779,0.054382,NaN,RP11-34P13.14

In [6]:
sig_genes = deseq2_output_with_genes.loc[deseq2_output_with_genes['padj'] < 0.05]
print(sig_genes.shape)
sig_genes.head()

(1273, 7)

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,gene_name
ENSG00000237683.5,1341.555393,0.702401,0.153341,4.580648,4.635375e-06,2.170221e-04,AL627309.1
ENSG00000240409.1,2133.301818,-8.854595,2.802767,-3.159233,1.581852e-03,1.823839e-02,MTATP8P1
ENSG00000131591.13,643.246652,0.742873,0.224032,3.315925,9.134038e-04,1.253319e-02,C1orf159
ENSG00000162441.7,623.046038,-0.566029,0.171246,-3.305352,9.485704e-04,1.285546e-02,LZIC
ENSG00000120948.11,5858.325063,-0.570683,0.094147,-6.061624,1.347535e-09,2.496163e-07,TARDBP

In [7]:
sig_genes.to_csv(directory+'sig_diff_expr_gene.csv')

In [8]:
#Handy way to look up genes that you are specifically interested in
deseq2_output_with_genes.loc[deseq2_output_with_genes['gene_name'] == 'LIN28B']

,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,gene_name
ENSG00000187772.6,1378.757254,-1.653248,0.137302,-12.040941,2.164735e-33,9.222852e-30,LIN28B